# Final Cleaning

Combining cleaned tables by year. Adding poverty data, which will be our y variable in modeling.

In [1]:
import pandas as pd

In [2]:
# membership and wage data
mmwages2010 = pd.read_csv('../../data/cleaned_data/model_data/2010/mean_medwages2010.csv', index_col='State').drop(columns='Unnamed: 0')

In [3]:
# fatalities data
fatal2010 = pd.read_csv('../../data/cleaned_data/model_data/2010/fatal_2010.csv', index_col='State')

In [4]:
# combining on shared index
combined2010 = mmwages2010.merge(fatal2010, on='State')
combined2010.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities
State,,,,,,,,,,
Alabama,"38,590","29,570","1,808,807",10.1,"35,010","31,750","100,593",4.8,92.0,15.0
Alaska,"50,350","41,640","295,063",22.9,"59,980","59,660","17,440",21.4,39.0,10.0
Arizona,"42,390","33,040","2,506,723",6.4,"39,060","36,380","163,760",5.3,77.0,13.0
Arkansas,"35,460","27,860","1,081,711",4.0,"34,270","31,820","47,617",6.2,88.0,18.0
California,"50,730","37,870","13,891,632",17.5,"51,880","48,980","707,158",15.7,326.0,45.0

In [5]:
# poverty data; removing total population column
pov2010 = pd.read_csv('../../data/cleaned_data/poverty/state_pov2010.csv', index_col='State').drop(columns=['2010_Total_Pop', '2010_Pop_Below_Pov'])

In [6]:
# combining on shared index
final_2010 = combined2010.merge(pov2010, on='State')
final_2010.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2010_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"38,590","29,570","1,808,807",10.1,"35,010","31,750","100,593",4.8,92.0,15.0,19.0
Alaska,"50,350","41,640","295,063",22.9,"59,980","59,660","17,440",21.4,39.0,10.0,9.9
Arizona,"42,390","33,040","2,506,723",6.4,"39,060","36,380","163,760",5.3,77.0,13.0,17.4
Arkansas,"35,460","27,860","1,081,711",4.0,"34,270","31,820","47,617",6.2,88.0,18.0,18.8
California,"50,730","37,870","13,891,632",17.5,"51,880","48,980","707,158",15.7,326.0,45.0,15.8

In [7]:
# loading in data tables for rest of years

years = [2011,2012,2013,2014,2015,2016,2017]

# wages
for year in years:
    globals()[f'mmwages{year}'] = pd.read_csv(f'../../data/cleaned_data/model_data/{year}/mean_medwages{year}.csv', index_col='State').drop(columns='Unnamed: 0')
    
# fatalities
for year in years:
    globals()[f'fatal{year}'] = pd.read_csv(f'../../data/cleaned_data/model_data/{year}/fatal_{year}.csv', index_col='State')
    
# poverty
for year in years:
    globals()[f'pov{year}'] = pd.read_csv(f'../../data/cleaned_data/poverty/state_pov{year}.csv', index_col='State'). drop(columns=[f'{year}_Total_Pop', f'{year}_Pop_Below_Pov'])

In [8]:
#2011

combined2011 = mmwages2011.merge(fatal2011, on='State')
final_2011 = combined2011.merge(pov2011, on='State')
final_2011.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2011_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"39,180","29,850","1,781,885",10.0,"35,530","32,520","86,771",9.4,92.0,8.0,19.0
Alaska,"51,590","42,960","305,485",22.1,"60,830","59,560","18,231",21.3,39.0,3.0,10.5
Arizona,"43,670","34,110","2,499,746",6.0,"40,770","37,620","139,825",5.2,69.0,9.0,19.0
Arkansas,"36,340","28,460","1,116,844",4.2,"34,730","32,400","54,557",5.7,93.0,14.0,19.5
California,"51,910","38,530","13,927,053",17.1,"53,160","50,140","686,035",16.9,390.0,56.0,16.6

In [9]:
#2012

combined2012 = mmwages2012.merge(fatal2012, on='State')
final_2012 = combined2012.merge(pov2012, on='State')
final_2012.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2012_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"39,550","29,950","1,812,340",9.2,"36,360","33,390","77,560",7.1,92.0,14.0,19.0
Alaska,"52,050","43,510","298,283",22.4,"61,120","59,690","14,486",21.8,31.0,3.0,10.1
Arizona,"43,950","33,980","2,433,824",5.2,"39,770","36,750","110,741",2.7,60.0,7.0,18.7
Arkansas,"36,850","28,690","1,155,140",3.2,"34,630","32,200","61,336",1.0,63.0,12.0,19.8
California,"52,350","38,770","14,488,778",17.2,"53,820","50,750","746,875",15.9,375.0,58.0,17.0

In [10]:
#2013

combined2013 = mmwages2013.merge(fatal2013, on='State')
final_2013 = combined2013.merge(pov2013, on='State')
final_2013.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2013_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"40,240","30,390","1,891,629",10.8,"37,290","34,340","91,112",3.1,92.0,20.0,18.7
Alaska,"53,110","44,350","306,322",23.1,"61,780","60,200","17,040",22.3,32.0,0.0,9.3
Arizona,"44,370","34,170","2,455,146",5.0,"40,760","37,200","127,729",4.1,95.0,13.0,18.6
Arkansas,"37,340","28,910","1,072,119",3.5,"35,210","32,760","43,561",2.6,63.0,13.0,19.7
California,"53,030","38,920","14,840,395",16.4,"54,130","51,090","761,854",16.5,396.0,61.0,16.8

In [11]:
#2014

combined2014 = mmwages2014.merge(fatal2014, on='State')
final_2014 = combined2014.merge(pov2014, on='State')
final_2014.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2014_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"40,890","30,850","1,889,069",10.8,"38,210","35,040","108,463",2.0,92.0,11.0,19.3
Alaska,"54,040","45,200","307,285",22.8,"63,590","62,220","17,417",32.8,30.0,0.0,11.2
Arizona,"44,580","34,230","2,594,000",5.3,"41,690","37,630","141,828",3.3,88.0,17.0,18.2
Arkansas,"37,940","29,140","1,108,001",4.7,"35,530","32,980","60,688",2.5,67.0,15.0,18.9
California,"53,890","39,190","15,134,895",16.3,"54,200","50,520","791,563",16.3,344.0,49.0,16.4

In [12]:
#2015

combined2015 = mmwages2015.merge(fatal2015, on='State')
final_2015 = combined2015.merge(pov2015, on='State')
final_2015.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2015_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"41,920","31,550","1,863,152",10.2,"38,990","35,710","97,730",6.8,92.0,14.0,18.5
Alaska,"55,760","46,420","304,538",19.6,"65,300","63,530","18,874",26.6,14.0,3.0,10.3
Arizona,"45,310","34,680","2,661,422",5.2,"42,770","38,580","145,217",6.8,69.0,12.0,17.4
Arkansas,"38,540","29,420","1,156,533",5.1,"36,110","33,220","57,628",2.3,74.0,8.0,19.1
California,"55,260","39,830","15,662,847",15.9,"55,240","51,160","820,015",18.1,388.0,75.0,15.3

In [13]:
#2016

combined2016 = mmwages2016.merge(fatal2016, on='State')
final_2016 = combined2016.merge(pov2016, on='State')
final_2016.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2016_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"42,510","32,100","1,893,731",8.1,"39,990","36,520","96,538",11.3,92.0,20.0,17.1
Alaska,"56,710","47,170","297,008",18.5,"67,210","65,180","18,673",26.6,35.0,2.0,9.9
Arizona,"46,290","35,470","2,727,866",4.5,"43,800","40,020","150,775",7.1,77.0,15.0,16.4
Arkansas,"39,590","30,130","1,185,496",4.0,"36,450","33,630","69,123",1.7,68.0,13.0,17.2
California,"56,840","40,920","16,007,244",15.9,"56,770","52,280","857,489",18.4,376.0,55.0,14.3

In [14]:
#2017

combined2017 = mmwages2017.merge(fatal2017, on='State')
final_2017 = combined2017.merge(pov2017, on='State')
final_2017.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2017_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"43,170","32,800","1,868,005",7.4,"40,770","37,380","112,835",7.0,92.0,18.0,16.9
Alaska,"57,750","47,560","304,027",18.1,"66,600","64,550","16,584",23.4,33.0,0.0,11.1
Arizona,"48,160","36,270","2,804,949",4.0,"44,020","40,490","163,853",1.2,90.0,11.0,14.9
Arkansas,"40,530","30,810","1,207,917",5.1,"37,660","34,710","60,846",2.5,76.0,9.0,16.4
California,"57,190","40,980","16,063,818",15.5,"58,010","53,440","882,269",17.9,376.0,69.0,13.3

Noticing commas that will interfere with modeling, we will remove them and ensure all data is in integer form.

In [15]:
cols = ['Total_Avg_$',
'Total_Med_$',
'Total_Employment',
'Total_Mem_%',
'Construction_Avg_$',
'Construction_Med_$',
'Construction_Employment',
'Construction_Mem_%',
'Total_Fatalities',
'Construction_Fatalities']

def rmv_commas(df):
    for c in cols:
        df[c].replace(',', '', regex=True, inplace=True)
        df[c] = df[c].astype(int)
    return df

In [16]:
# to standardize column names across all tables, the years will be removed from the poverty columns
 
final_2010 = rmv_commas(final_2010.rename(columns={'2010_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2011 = rmv_commas(final_2011.rename(columns={'2011_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2012 = rmv_commas(final_2012.rename(columns={'2012_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2013 = rmv_commas(final_2013.rename(columns={'2013_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2014 = rmv_commas(final_2014.rename(columns={'2014_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2015 = rmv_commas(final_2015.rename(columns={'2015_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2016 = rmv_commas(final_2016.rename(columns={'2016_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2017 = rmv_commas(final_2017.rename(columns={'2017_Pct_Below_Pov':'Pct_Below_Pov'}))

In [17]:
final_2010.to_csv('../../data/cleaned_data/model_data/2010/final_2010.csv')

In [18]:
for year in years:
    globals()[f'final_{year}'].to_csv(f'../../data/cleaned_data/model_data/{year}/final_{year}.csv')

#### Because we are creating a classification model, we need to binarize the 'Pct_Below_Pov' column. The values are based on the U.S. poverty threshold for each given year.

In [19]:
final_2010['Pct_Below_Pov'] = (final_2010['Pct_Below_Pov'] > 15.1).astype(int)

In [22]:
final_2011['Pct_Below_Pov'] = (final_2011['Pct_Below_Pov'] > 15).astype(int)

In [23]:
final_2012['Pct_Below_Pov'] = (final_2012['Pct_Below_Pov'] > 15).astype(int)

In [24]:
final_2013['Pct_Below_Pov'] = (final_2013['Pct_Below_Pov'] > 14.5).astype(int)

In [25]:
final_2014['Pct_Below_Pov'] = (final_2014['Pct_Below_Pov'] > 14.8).astype(int)

In [26]:
final_2015['Pct_Below_Pov'] = (final_2015['Pct_Below_Pov'] > 13.5).astype(int)

In [27]:
final_2016['Pct_Below_Pov'] = (final_2016['Pct_Below_Pov'] > 12.7).astype(int)

In [28]:
final_2017['Pct_Below_Pov'] = (final_2017['Pct_Below_Pov'] > 12.3).astype(int)

In [29]:
final_2010.to_csv('../../data/cleaned_data/model_data/2010/final_2010_bin.csv')

for year in years:
    globals()[f'final_{year}'].to_csv(f'../../data/cleaned_data/model_data/{year}/final_{year}_bin.csv')